.schedule {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.31rem 1.25rem 2rem 1.25rem;
}

.schedule > header {
  margin-bottom: 2rem;
}

.schedule > header h1 {
  font: var(--title);
  color: var(--content-primary);
}

.schedule > header p {
  font: var(--paragraph-medium);
  color: var(--content-secondary);
}

.schedule-date {
  z-index: 3;
  padding-top: 0.75rem;
  width: 11.4rem;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../assets/arrow-default.svg") no-repeat;
}

.schedule-period {
  width: 21.87rem;
  background-color: var(--background-tertiary);
  border-radius: 0.5rem;
  margin-top: 0.75rem;
}

.schedule-period header {
  display: flex;
  padding: 0.75rem 1.25rem;
  align-items: center;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-primary);
}

.schedule-period header img {
  margin-right: 0.75rem;
}

.schedule-period header strong {
  width: 12.68rem;
  font: var(--label-large);
  color: var(--content-primary);
}

.schedule-period header span {
  font: var(--label-large);
  color: var(--content-secondary);
}

.schedule-period ul {
  list-style: none;
  width: 19.37rem;
  height: auto;
  margin: 1.25rem;
  padding-bottom: 0.1rem;
}

.schedule-period li {
  display: flex;
  margin: 0.8rem;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem 0.75rem 0 0.75rem;
  border-bottom: 1px solid var(--border-primary);

  & p {
    font: var(--paragraph-medium);
    color: var(--content-secondary);
  }

  & button {
    z-index: 3;
    margin-bottom: 0.9rem;
  }
}

time {
  font: var(--label-medium);
  color: var(--content-primary);
}

.schedule-period .appointment-info {
  & strong {
    font: var(--label-medium);
    color: var(--content-primary);
  }

  & span {
    font: var(--paragraph-medium);
    color: var(--content-secondary);
  }
}

.schedule-period button {
  display: flex;
  justify-content: end;
  background: none;
  border: none;
  cursor: pointer;
  font: var(--paragraph-small);
  color: var(--content-tertiary);
}

.appointment-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}

.appointment-scheduling {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5.25rem;
}

.btn-new-scheduling {
  width: 13.6rem;
  height: 3rem;
  background-color: var(--background-brand);
  border-radius: 0.5rem;
  font: var(--label-large);
  color: var(--background-primary);
  border: none;
  cursor: pointer;
  box-shadow: -1px 2px 30px 11px rgba(146, 130, 250, 0.4);
  -webkit-box-shadow: -1px 2px 30px 11px rgba(146, 130, 250, 0.4);
  -moz-box-shadow: -1px 2px 30px 11px rgba(146, 130, 250, 0.4);
}

.btn-new-scheduling:hover {
  background-color: var(--background-highlights);
}

@media (min-width: 768px) {
  .schedule {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
  }

  .schedule > header {
    width: 44.4rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.9rem;
    margin-bottom: 2rem;
  }

  .schedule-period {
    width: 44.4rem;
    overflow: hidden;
  }

  header > time {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .schedule-period ul {
    width: 100%;
    margin: 0;
  }

  .schedule-period li {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;

    & button {
      margin-bottom: 0;
    }
  }

  .appointment-info time {
    padding-right: 1rem;
  }

  .appointment-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(10%);
    align-items: flex-end;
  }

  .appointment-scheduling {
    width: 44.4rem;
    justify-content: flex-end;
    background: none;
  }
}
